<nav>
  <ol class="breadcrumb mb-5 bg-dark">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Lançamentos</li>
  </ol>
</nav>

<div class="row mb-5">
  <div class="col">
    <h2 class="h2 border-left pl-2 text-light">Lançamentos</h2>
  </div>
  <div class="col">
    <a class="btn btn-success float-right" routerLink="new">Novo Lançamento</a>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th>Lançamento</th>
          <th>Categorias</th>
          <th class="text-right">Valor</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of entries">
          <td>
            <strong>{{entry.name}}</strong><br>
            <small class="text-success">{{entry.date}}</small><br>
            <small *ngIf="entry.description">{{entry.description}}</small>
          </td>
          <td>
            {{entry.category.title}}
          </td>
          <td class="text-right">
            <strong [ngClass]="{'text-danger': entry.type === 'expense', 'text-success': entry.type === 'renevue'}">
              {{entry.amount | currency: 'BRL'}}
            </strong><br>
            <span class="badge badge-light">{{entry.paidText}}</span>
          </td>
          <td class="text-right">
            <a class="btn btn-outline-info btn-sm mr-2" [routerLink]="[entry.id, 'edit']">Editar</a>
            <a class="btn btn-outline-danger btn-sm" (click)="remove(entry.id)">Remover</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
