<app-breadcrumb [items]="[{title: 'Categorias'}]"></app-breadcrumb>

<app-page-header
  [title]="'Categorias'"
  [buttonLabel]="'Nova Categoria'"
  [buttonRoute]="'new'"
  [buttonClass]="'btn-success'"
></app-page-header>

<div class="row">
  <div class="col">
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th>Categorias</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of modelList">
          <td>
            <strong>{{category.title}}</strong><br>
            <small>{{category.description}}</small>
          </td>
          <td>
            <div class="float-right">
              <a class="btn btn-outline-info btn-sm mr-2" [routerLink]="[category.id, 'edit']">Editar</a>
              <a class="btn btn-outline-danger btn-sm" (click)="remove(category.id)">Remover</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
