<app-breadcrumb [items]="[{title: 'Lançamentos', route: '/entries'}, {title: pageTitle}]"></app-breadcrumb>

<app-page-header
  [title]="pageTitle"
  [buttonLabel]="'voltar'"
  [buttonRoute]="'/entries'"
  [buttonClass]="'btn-info'"
></app-page-header>

<form [formGroup]="modelForm" (ngSubmit)="submit()">

  <div class="card text-white bg-dark">
    <div class="card-header">
      Informações sobre o lançamento
    </div>
    <div class="card-body">

      <div class="form-row">

        <div class="form-group col-md-2">
          <label for="type">Tipo</label>
          <select class="form-control" id="type" formControlName="type">
            <option>Selecione</option>
            <option *ngFor="let option of typeOptions" [value]="option.value">{{option.text}}</option>
          </select>
          <app-input-error [control]="modelForm.get('type')"></app-input-error>
        </div>

        <div class="form-group col-md-5">
          <label for="name">Lançamento</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          <app-input-error [control]="modelForm.get('name')"></app-input-error>
        </div>

        <div class="form-group col-md-3">
          <label for="amount">Valor</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
            </div>
            <input [imask]="MASK" type="text" class="form-control text-right" id="amount" formControlName="amount">
          </div>
          <app-input-error [control]="modelForm.get('amount')"></app-input-error>
        </div>

        <div class="form-group col-md-2">
          <label for="date">Data</label><br>
          <p-calendar id="date" formControlName="date"
            inputStyleClass="form-control" dataType="string" dateFormat="dd/mm/yy" showButtonBar="true"></p-calendar>
            <app-input-error [control]="modelForm.get('date')"></app-input-error>
        </div>

      </div>

      <div class="form-row">

        <div class="form-group col-md-2">
          <label for="paid">Pago</label>
          <div class="btn-group">
            <label (click)="setPaid(true)"
              [ngClass]="{'active': modelForm.get('paid').value}"
              class="btn btn-outline-info">Pago</label>
            <label (click)="setPaid(false)"
              [ngClass]="{'active': !modelForm.get('paid').value}"
              class="btn btn-outline-info">Pendente</label>
          </div>
          <app-input-error [control]="modelForm.get('paid')"></app-input-error>
        </div>

        <div class="form-group col-md-3">
          <label for="categoryId">Category</label>
          <select class="form-control" id="categoryId" formControlName="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{category.title}}</option>
          </select>
          <app-input-error [control]="modelForm.get('categoryId')"></app-input-error>
        </div>

        <div class="form-group col-md-7">
          <label for="description">Descrição</label>
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>

      </div>

    </div>
  </div>

  <button class="btn btn-primary btn-lg float-right mt-3" [disabled]="submitting || modelForm.invalid">
    Salvar
  </button>

</form>
